p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-summary ,
.book .book-header.fixed ,
.book .book-body .navigation {
 display:none;
}

.book .book-body.fixed {
top: 0px;
background:rgb(10,100,100);
}
.book .book-body.fixed .body-inner {
    top: 0px;
    background: aliceblue;
}
.book .book-body, .book .book-body .body-inner {
    position: initial;
}
.book .book-body .page-wrapper .page-inner {
    max-width: 100%;
    padding: 10px;
}